html
  head
    .container
    block head    
      script(type='text/javascript').
          //check current address, if address is session/new -> light up sessionNew
          //                                      about ->                about
          window.onload = function(e){ 
            if("#{title}"=="Register new session"){
            document.getElementById("sessionNew").className='active';
            }
          }
      nav.navbar.navbar-default.navbar-static-top
        .container
          .container-fluid
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                | &#x9;        &#x9;&#x9;&#x9;&#x9;
                span.icon-bar
                | &#x9;        &#x9;&#x9;&#x9;&#x9;
                span.icon-bar
                | &#x9;        &#x9;&#x9;&#x9;&#x9;
                span.icon-bar
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a.navbar-brand(href='/') VRStream
            |    &#x9;&#x9;&#x9;&#x9;&#x9;
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li.divider(role='seperator')
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li#sessionNew
                  a(href='/sessions/new') Host a Session
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li#about
                  a(href='about.html')
                    | About Us
                    span.sr-only (current)
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    | Sign Up
                    span.sr-only (current)
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(href='#')
                    | Log In
                    span.sr-only (current)

      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='../css/bootstrap.min.css')
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
      link(href='../css/hover.css', rel='stylesheet', media='all')
      link(rel='stylesheet',href='/css/main.css')
      title #{title}
  body
    block content
    script(src='../js/jquery.min.js')
    script(src='../js/bootstrap.min.js')